@media (max-width: 576px) {
    .breadcrumb {
        font-size: 0.75rem;
    }
}

#btn-subs {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

@font-face {
    src: url(../Poppins-Regular.ttf);
    font-family: Poppins;
}

a:hover {
    text-decoration: none;
}

html, body {
    font-family: Poppins;
}

html {
    background-image: url('/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: transparent;
}

.heading-style {
    border-left: .5rem solid green;
    padding: .5rem;
}

#header-home {
    background-image: url('../img/nature.jpg');
    background-size: cover;
    background-position: bottom;
    min-height: 400px;
}

    #header-home > div {
        background-color: rgba(0,0,0,0.5);
    }

footer {
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    background-color: #ffffff;
    color: #4b4c4d;
}

    footer ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    footer li {
        padding: 0 10px;
    }

    footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        footer ul a:hover {
            opacity: 1;
        }

    footer .social {
        text-align: center;
        padding-bottom: 0.5rem;
    }

        footer .social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }

            footer .social > a:hover {
                opacity: 0.9;
            }

    footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }

.article-txt p {
    margin-left: 0.5rem;
}
