@inherits LayoutComponentBase

<nav class="navbar navbar-light navbar-expand-lg sticky-top bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="/">
            <img class="border rounded-circle d-inline-block align-top" width="30" height="30" alt="OZ Rodan - logo" src="/favicon.ico" />
            <strong>OZ Rodan</strong>
        </a>

        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav text-center mr-auto">
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Domov</NavLink>
                </li>
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="activities">Aktivity</NavLink>
                </li>
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="articles">Články</NavLink>
                </li>
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="projects">Projekty</NavLink>
                </li>
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="contacts">Kontaky</NavLink>
                </li>
                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="help">Pomoc</NavLink>
                </li>
            </ul>

            <div class="text-right">
                <AuthorizeView>
                    <Authorized>
                        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="Identity/Account/Register">Registrovať</a>
                        &emsp;
                        <a href="Identity/Account/Login">Prihlásiť sa</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

        </div>
    </div>
</nav>

<main class="bg-light">
    <ToastNotifications/>

    @Body
</main>

<footer>
    <div class="social">
        <a href="https://www.facebook.com/rodanoz" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/">Domov</a>
        </li>
        <li class="list-inline-item">
            <a href="contacts">Kontakty</a>
        </li>
    </ul>
    <p class="copyright">
        oz-rodan.sk 2020 &copy; <a href="https://tadeasburda.sk">Tadeáš Burda</a>
    </p>
</footer>
