@inherits LayoutComponentBase

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="/">
            <img class="border rounded-circle d-inline-block align-top" width="30" height="30" alt="OZ Rodan - logo" src="/favicon.ico" />
            <strong>OZ Rodan</strong>
        </a>

        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto pl-3 pl-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        O nás
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <NavLink class="dropdown-item" href="activities" Match="NavLinkMatch.All">Naše aktivity</NavLink>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dokumenty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <NavLink class="dropdown-item" href="articles">Články</NavLink>
                        <NavLink class="dropdown-item" href="projects">Projekty</NavLink>
                    </div>
                </li>

                <li role="presentation" class="nav-item">
                    <NavLink class="nav-link" href="contacts">Kontaky</NavLink>
                </li>
            </ul>

            <div class="text-right">
                <AuthorizeView>
                    <Authorized>
                        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="Identity/Account/Register">Registrovať</a>
                        &emsp;
                        <a href="Identity/Account/Login">Prihlásiť sa</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

        </div>
    </div>
</nav>

<main class="bg-light">
    <ToastNotifications/>

    @Body
</main>

<footer class="footer-style">
    <div class="social">
        <a href="https://www.facebook.com/rodanoz" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/">Domov</a>
        </li>
        <li class="list-inline-item">
            <a href="contacts">Kontakty</a>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="list-inline-item">
                    <a href="Identity/Account/Manage">Profil</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="list-inline-item">
                    <a href="Identity/Account/Login">Prihlásiť sa</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
    <p class="copyright">
        oz-rodan.sk 2020 &copy; <a href="https://tadeasburda.sk">Tadeáš Burda</a>
    </p>
</footer>
