@page "/"
@namespace Rodan.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OZ Rodan</title>
    <meta name="description" content="Občianske združenie mladých ľudí, ktorým nie je ľahostajný postoj k prírode 💚">

    @* facebook metas *@
    <meta property="og:description" content="Občianske združenie mladých ľudí, ktorým nie je ľahostajný postoj k prírode 💚">
    <meta property="og:title" content="OZ Rodan">
    <meta property="og:type" content="website">
    <meta property="og:image" typeof="image/" content="https://oz-rodan.sk/img/logo16x9.jpg">
    <meta property="og:width" content="799" />
    <meta property="og:height" content="499" />

    <base href="~/" />
    <link rel="canonical" href="https://oz-rodan.sk" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body class="container-xl p-0">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <button id="btn-subs" class="rounded-circle border border-dark p-1 bg-white" type="button" onclick="location.href='subscribe'">
        <img src="/img/svg/bell.svg" width="48" alt="bell" />
    </button>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
