@page "/activities"

    <section>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="fas fa-home"></i>&nbsp;Domov
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    Aktivity
                </li>
            </ol>
        </nav>
        <article class="p-3">
            <h3>Prírodné staviteľstvo</h3>
            <p class="ml-2">V záujme trvalo udržateľných stavebných techník, sme si osvojili prácu s prírodnými materiálmi, ako drevo, slama, hlina a iné. Výsledkom čoho sme uskutočnili niekoľko zaujímavých projektov. Jednalo sa o reštaurovanie starých budov, ako aj výstavbanových domov. Usilujeme sa o zachovanie ľudovej architektúry, jej tradičných prvkov a motívov. Obnovou, alebo zakomponovaním týchto prvkov do novej stavby ,sa snažíme prihliadať na rozumný a harmonický súlad starého s novým.</p>
            <div class="text-center">
                <a href="/img/dom.jpg">
                    <img class="img-fluid" src="/img/dom.jpg" alt="slamený dom" />
                </a>
                <p>
                    <small>stavba slameného domu</small>
                </p>
            </div>
        </article>
        <hr />
        <article class="p-3">
            <h3>Ochrana životného prostredia</h3>
            <p class="ml-2">Máme vypracovanú jasnú stratégiu ochrany životného prostredia, ktorá zahŕňa:</p>
            <ul>
                <li>Revitalizáciu krajiny - obnova poškodených častí krajiny, revitalizácia a úprava vodných tokov</li>
                <li>Zvyšovanie ekologickej stability krajiny, ekostabilizačné a protierózne opatrenia v krajine</li>
                <li>Aktivity zamerané na podporu odpadového hospodárstva – monitorovanie a odstraňovanie čiernych skládok</li>
                <li>Podpora ochrany vodných tokov, prameňov a vodných zdrojov</li>
                <li>Starostlivosť o významné krajinné prvky a pamätihodnosti na lokálnej úrovni</li>
                <li>Aktivity zamerané na zvyšovanie environmentálneho kultúrneho povedomia obyvateľstva</li>
            </ul>
            <p class="ml-2">
                Pre zlepšenie vodných pomerov v krajine budujeme malé nepriepustné a polopriepustné hrádzky, na dne vyschnutých odvodňovacích kanálov, čím veľmi jednoduchým spôsobom dokážeme zadržiavať dažďovú vodu v krajine. Blahodarný prínos, pre okolitú krajinu je okamžite viditeľný, finančne nenáročný a dlhodobo pôsobiaci.
            </p>
            <p class="ml-2">Pri problematike erózie máme vyvinutý vlastný patent protieróznych opatrení, ktorý naďalej vylepšujeme a prispôsobujeme, na konkrétne podmienky nášho chotára. Opäť sa prihliada na technickú a finančnú nenáročnosť, ako aj trvalú udržateľnosť.</p>
            <div class="text-center">
                <a href="/img/kompost.jpg">
                    <img class="img-fluid" src="/img/kompost.jpg" alt="kompost, obec Štefanov" />
                </a>
                <p>
                    <small>náš kompost, obec Štefanov</small>
                </p>
            </div>
        </article>
    </section>