@page "/articles"

<section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i>&nbsp;Domov
                </a>
            </li>
            <li class="breadcrumb-item active">
                Články
            </li>
        </ol>
    </nav>

    <section class="p-3">
        <ul class="list-unstyled">
            <li class="media">
                <img src="/img/svg/project.svg" width="64" height="64" class="mr-3" alt="project icon">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Projekt "Kadúbek"</h5>
                    V článku položíme Lukášovi často kladené otázky k projektu Kadúbek a on sa nám bude snažiť stručne odpovedať.
                    <a href="/articles/rozhovor-Kadubek">Zobraziť článok...</a>
                </div>
            </li>
        </ul>
    </section>
</section>