@page "/contacts"

<section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i>&nbsp;Domov
                </a>
            </li>
            <li class="breadcrumb-item active">
                Kontaky
            </li>
        </ol>
    </nav>

    <section class="p-3">
        <section>
            <div class="row no-gutters">
                <div class="col-12 col-sm-4 order-last order-sm-first">
                    <div class="text-center">
                        <img src="/img/svg/gmail.svg" width="128" alt="gmail" />
                        <p><a href="mailto:ozrodan@gmail.com">ozrodan@gmail.com</a></p>
                    </div>
                </div>

                <div class="col-12 col-sm-8">
                    <div class="d-flex justify-content-center">
                        <div>
                            <p><strong>Názov organizácie :</strong> RODAN</p>
                            <p><strong>Sídlo organizácie :</strong> Štefanov 344, 90645</p>
                            <p><strong>Právna forma :</strong> Občianske združenie</p>
                            <p><strong>IČO :</strong> 45789614</p>
                            <p><strong>IBAN :</strong> SK30 7500 0000 0040 2526 0886</p>
                            <p><strong>Názov banky :</strong> Československá obchodná banka, a.s.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <section>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="text-center p-1">
                        <a href="/img/profil-photos/LukášVlha.jpg">
                            <img class="rounded-circle img-fluid" src="/img/profil-photos/LukášVlha.jpg" alt="Lukáš Vlha" />
                        </a>
                        <h3>Lukáš Vlha</h3>
                        <small>predseda</small>
                        <p>
                            <a href="tel:0915657037">0915 657 037</a>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="text-center p-1">
                        <a href="/img/profil-photos/MartinHesko.jpg">
                            <img class="rounded-circle img-fluid" src="/img/profil-photos/MartinHesko.jpg" alt="Martin Hesko" />
                        </a>
                        <h3>Martin Hesko</h3>
                        <small>štatutárny zástupca</small>
                        <p>
                            <a href="tel:0907129146">0907 129 146</a>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="text-center p-1">
                        <a href="/img/profil-photos/TadeášBurda.jpg">
                            <img class="rounded-circle img-fluid" src="/img/profil-photos/TadeášBurda.jpg" alt="Tadeáš Burda" />
                        </a>
                        <h3>Tadeáš Burda</h3>
                        <small>administrátor / programátor</small>
                        <p class="m-0">
                            <a href="mailto:tadeas.burda@outlook.com">tadeas.burda@outlook.com</a>
                        </p>
                        <p class="m-0">
                            <a href="https://tadeasburda.sk" target="_blank">www.tadeasburda.sk</a>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="text-center p-1">
                        <img class="rounded-circle img-fluid" src="/img/svg/user-group.svg" alt="user group" width="256" />
                        <h3>Tým RODAN</h3>
                        <small>Chceš sa pridať?</small>
                        <p class="m-0">
                            <a href="mailto:ozrodan@gmail.com">Napíš nám...</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
