@page "/help"

<section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i>&nbsp;Domov
                </a>
            </li>
            <li class="breadcrumb-item active">
                Pomožte nám
            </li>
        </ol>
    </nav>
    <div class="d-flex justify-content-center">
        <div class="p-3">
            <p><strong>Názov organizácie :</strong> RODAN</p>
            <p><strong>Sídlo organizácie :</strong> Štefanov 344, 90645</p>
            <p><strong>Právna forma :</strong> Občianske združenie</p>
            <p><strong>IČO :</strong> 45789614</p>
            <p><strong>IBAN :</strong> SK30 7500 0000 0040 2526 0886</p>
            <p><strong>Názov banky :</strong> Československá obchodná banka, a.s.</p>
        </div>
    </div>
</section>