@page "/"

<section>
    <header class="d-flex flex-column" id="header-home">
        <div class="text-center text-white mt-auto p-3">
            <div class="row no-gutters">
                <div class="col-12 col-lg-3"></div>
                <div class="col-12 col-lg-6">
                    <h6><em>Motto : My Rodani, sme sa rozhodli nezísť z cesty k záhradám so stromami obdarenými plodmi. Tie plody pozbierajú naše deti, aby ich deti nikdy nezabudli, že stromy, ktoré poznáš po ovocí sme tu vysadili a chránili práve pre ne.</em><br /></h6>
                </div>
                <div class="col-12 col-lg-3"></div>
            </div>
        </div>
    </header>
    <article class="p-3">
        <div class="text-center mb-3">
            <a href="/favicon.ico">
                <img class="img-fluid border rounded-circle" src="/favicon.ico" alt="OZ Rodan - logo" />
            </a>
        </div>
        <p><strong>Občianske združenie RODAN</strong> vzniklo v roku 2015 z iniciatívy mladých ľudí, ktorým nie je ľahostajný postoj k prírodným, duchovným a kultúrnym hodnotám. Preto sme sa ich rozhodli chrániť a zveľaďovať, minimálne na úrovni našej obce <strong>Štefanov</strong>.</p>
        <p>Názov <strong>RODAN </strong>v sebe nesie esenciu kľúčových prvkov nášho záujmu: <strong><em>R</em></strong><em>od, </em><strong><em>P</em></strong><em>ríroda, </em><strong><em>N</em></strong><em>árod, </em><strong><em>O</em></strong><em>broda...</em></p>
        <p>V našich hlavných zásadách si ctime odkaz predkov, ktorý nás nabáda k čistote úmyslu, slova i duše, v kontakte so svojim svedomím.</p>
    </article>
</section>
