@page "/projects"

<section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i>&nbsp;Domov
                </a>
            </li>
            <li class="breadcrumb-item active">
                Projekty
            </li>
        </ol>
    </nav>

    <article class="p-3">
        <p>Nižšie je k dispozícii zoznam našich projektov, ktoré máme v pláne uskutočniť.</p>
        <small>Pozn.: PDF sú priebežne aktualizované, ale je možné že niektoré z projektov sa zmenili 🙂 Ďakujeme za pochopenie...</small>
    </article>

    <section>
        <div class="list-group">
            <a href="/pdf/Kadúbek.pdf" class="list-group-item list-group-item-action">
                <img src="/img/svg/pdf.svg" width="16" height="16" alt="pdf" />&nbsp;Kadúbek.pdf
            </a>
            <a href="/pdf/Ihrisko.pdf" class="list-group-item list-group-item-action">
                <img src="/img/svg/pdf.svg" width="16" height="16" alt="pdf" />&nbsp;Ihrisko.pdf
            </a>
            <a href="/pdf/Cárek.pdf" class="list-group-item list-group-item-action">
                <img src="/img/svg/pdf.svg" width="16" height="16" alt="pdf" />&nbsp;Cárek.pdf
            </a>
        </div>
    </section>
</section>
