@page "/articles/rozhovor-Kadubek"

<section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i>&nbsp;Domov
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/articles">
                    <i class="fas fa-newspaper"></i>&nbsp;Články
                </a>
            </li>
            <li class="breadcrumb-item active">
                Rozhovor o Kadúbku
            </li>
        </ol>
    </nav>

    <article class="p-3">
        <header>
            <h1>Otázky a odpovedi k projektu Kadúbek</h1>
            <span class="text-right"><small>pub. dňa September 2020</small></span>
        </header>

        <hr />

        <section>
            <div class="text-center">
                <h3>Aké zmeny boli vykonane v rámci projektu?</h3>
            </div>
            <p>Na celom areáli sa podpísal zub času a nebol nijako inak využívaný. Zásadnou zmenou bolo vybudovanie jazierka, ktoré je napájane stálym prítokom Kadúbkovej vody. Vzniká tu esteticky upravený svet mokrade podobný tomu, ktorý v minulosti na tomto mieste bol. Ďalším zaujímavým prvkom je dažďova záhrada. Je to zásaková jama so štrkom kam steká zrážková voda s cesty. Na brehu pri potoku je vysadni pás motýlej luky, ktorá sa nemusí tak často kosiť. Cely areál slúži ako oddychová zóna s dostatočným počtom lavičiek. Bezpochybne dominantou celého parku je zastrešenie samotného prameňa. Hrdzavú rúru nahradila rustikálna kamenná kašna. Masívna murovaná stavba vychádza z prvkov miestnej ľudovej architektúry. Štít zdobí odliatok starožitného erbu sv.Kataríny. Dlažbu tvoria tehly s historickou hodnotou, pochádzajúce s predošlého kostola.</p>
            <br />
            <div class="text-center">
                <h3>Akým spôsobom je financovaný cely projekt?</h3>
            </div>
            <p>Pri tomto štartovnom projekte sme sa snažili vyhnúť zdĺhavému a komplikovanému procesu pre získanie grantov. Cely projekt sme do detailov vypracovali a naplánovali my Rodani. Takisto sme vykonali všetky odborne prace formou dobrovoľných brigád. Obecne financie boli použite len pre nákup potrebného materiálu. Za týchto podmienok je suma 4tis. zanedbateľná v porovnaní s výsledným dielom.</p>
            <br />
            <div class="text-center">
                <h3>Kto sa bude starať o údržbu areálu?</h3>
            </div>
            <p>O bežnú údržbu sa tak ako doteraz bude starať obec. Vďaka zrovnanému terénu sa kosenie jednoduchší. O jazierko sa stará naše združenie.</p>
            <br />
            <div class="text-center">
                <h3>Ľudia majú obavy z premnoženia komárov. Aké opatrenia ste zaviedli?</h3>
            </div>
            <p>Samozrejme, pri projektovaní sme sa snažili eliminovať všetky nepriaznivé vplyvy. V prvom rade jazierko očkujeme ,,živou vodou" obsahujúcu mikroorganizmy a planktón, ktorý sa živí larvami. Ako hlavný požierači komárov sú malé okrasne rybky.</p>
            <br />
            <div class="text-center">
                <h3>Do akej miery je myslene na bezpečnosť v areáli?</h3>
            </div>
            <p>Jazierko nie je koncipovane ako kúpacie a je doň zákaz vstupu. Maximálna hĺbka je 1.7m a nie je prístupná z brehu. Veľká časť jazierka je plytká, lemovaná kameňmi. V hlbokej časti sme použili zaujímavý prvok - plávajúci ostrov, ktorý môže v núdzi poslúžiť ako záchranne koleso.</p>
            <br />
            <div class="text-center">
                <h3>Čo všetko nám areál môže ponúknuť?</h3>
            </div>
            <p>Cely park sa snažíme designovať tak, aby pôsobil ukľudňujúco a stal sa prijemným miestom pre odpočinok. Potôčik je vystlaný okrúhlymi kameňmi a vďaka hladkej vode sa tvári ako horská bystrinka po ktorej sa da chodiť a otužovať sa. Kadúbek ma potenciál stáť sa vyhľadávaným miestom pre cyklistov a turistov.</p>
        </section>

        <section>
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="p-2 text-center">
                        <img class="img-fluid rounded " src="/img/photos/starý-Kadúbek.jpeg" alt="Štefanov - Kadúbek"/>
                        <br />
                        <small>pred</small>
                    </div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="p-2 text-center">
                        <img class="img-fluid rounded " src="/img/photos/nový-Kadúbek.jpg" alt="Štefanov - Kadúbek" />
                        <br />
                        <small>po</small>
                    </div>
                </div>
            </div>
        </section>

        <hr />

        <footer>
            <small>Napísal: Lukáš Vlha a Tadeáš Burda</small>
        </footer>
    </article>
</section>
